.gridster * {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
}



.status-1 { /* OK */
 border-left: 5px solid  #44CC44 !important;
 background-color: rgb(200,255,200);

}

.status-2 { /* WARN */
  border-left: 5px solid rgb(249, 186, 70) !important;
   background-color: rgb(255,240,120);

}

.status-3 { /* CRITICAL */
 border-left: 5px solid rgb(234, 84, 67) !important;
 background-color: rgb(255,160,120);
}

.status-4 { /* UNKNOWN */
    border-left: 5px solid  #AAAAAA !important;
    background-color: #EEEEEE;
}

/*/
/* demo
/*/


body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #444;
    margin: 30px 40px;
}

.controls {
    margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster ul {
    background-color: #EFEFEF;
}

.gridster li {
    font-size: 0.8em;
    text-align: center;
    line-height: 100%;
    overflow:hidden;
    text-overflow: ellipsis;
}


.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

