.gridster * {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
}



.status-1 { /* OK */
 background-color: #AAFFAA !important;
}

.status-2 { /* WARN */
 background-color: #FFFFAA !important;
}

.status-3 { /* CRITICAL */
 background-color: #FFAAAA !important;
}

.status-4 { /* UNKNOWN */
 background-color: #AAAAAA !important;
}

/*/
/* demo
/*/


body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #444;
    margin: 30px 40px;
}

.controls {
    margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster ul {
    background-color: #EFEFEF;
}

.gridster li {
    font-size: 0.8em;
    text-align: center;
    line-height: 100%;
    overflow:hidden;
    text-overflow: ellipsis;
}


.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background-color: #AAFFAA;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

